
<template>
  <div style="height: 75vh; width: 100vw;">
    <div class="margin">
      <div class="overlay">
        <toolbar></toolbar>
      </div>
    </div>
    <l-map :zoom="13" :center="[50.9223,11.5723]" :options="{zoomControl: false}"
      v-model="zoom"
      v-model:zoom="zoom"
      style="z-index: 100"
    >
      <l-tile-layer style="z-index: 100"
        url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
      ></l-tile-layer>
      <l-marker :lat-lng="[50, 50]">
      </l-marker>

      <l-marker @click="greet"
        v-for="(marker, index) in markers"
        :key="index"
        ref="markersRef"
        :lat-lng="marker">
        <l-popup><spot></spot></l-popup>
      </l-marker>

    </l-map>
    <!-- <template v-if="spot" id="app">
      <spot class="spot"></spot>
    </template> -->

  </div>
</template>

<script>
import spot from './spot.vue'
import {
  LMap,
  LIcon,
  LTileLayer,
  LMarker,
  LControlLayers,
  LTooltip,
  LPopup,
  LPolyline,
  LPolygon,
  LRectangle,
} from "@vue-leaflet/vue-leaflet";
import "leaflet/dist/leaflet.css";
export default {
  
  components: {
    LMap,
    LIcon,
    LTileLayer,
    LMarker,
    LControlLayers,
    LTooltip,
    LPopup,
    LPolyline,
    LPolygon,
    LRectangle,
    spot,
  },
  async created() {
    const {data: events, error} = await this.$supabase
      .from('events')
      .select('coordinates')
    this.populate_markers_array(events)
    this.loaded = true
    // console.log(this.markers1);
    // this.cut = this.markers1.replace("", "");
  },
  data() {
    return {
      zoom: 2,
      iconWidth: 25,
      iconHeight: 40,
      
      spot: false,
      zoomControl: false,
      loaded: false,
      markers: [],
      // markers_test: [
      //   { position: { lat: 50.92664, lng: 11.58699 } },
      //   { position: { lat: 50.92768, lng: 11.58078 } },
      //   ],

    };
  },
  computed: {
  },
  methods: {
    log(a) {
      console.log(a);
    },
    greet: function (event) {
      this.spot = true;
    },
    populate_markers_array: function (marker_objects) {
      let markersArr = []
      marker_objects.forEach(element => {
        let coordsArr = element.coordinates.split(',')
        markersArr.push([parseFloat(coordsArr[0]), parseFloat(coordsArr[1])])
      });
      this.markers = markersArr
    }
  },
};
</script>

<style>
.spot {
  margin-top: -800px;
  z-index: 3000;
}
</style>