<template>
  <div class="">
    <div class="px-6 py-4">
      <div
        v-for="event in events" :key="event.id"
        cols="12"
        >
        <div class="font-bold text-xl mb-2">{{ event.name }}</div>
        <p class="text-gray-700 text-base">
          {{ event.description }}
        </p>
      </div>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Kameraüberwacht</span>
    </div>
    <br><br>
  </div>
</template>

<script>
  export default {
    async created() {
      const { data: events, error } = await this.$supabase
        .from('events')
        .select('*')
        .eq('id', '1')  
      this.events = events
      this.loaded = true
    },
    data() {
      return {
        loaded: false,
        events: [],
        component: false,
      }
    }
  }
</script>

<style>
</style>